include static/includes/header.pug
div#container
    div#project-panel
        each proj in projects
            if proj._id == active
                div.project-container.active-proj
                    a(href="/magori/" + proj._id)
                        div.project-id= proj._id
                        div.project-name
                            h1= proj.name
                        div.project-owner
                            p Project owner:
                            proj.owner.name
            else
                div.project-container.not-active-proj
                    a(href="/magori/" + proj._id)
                        div.project-id= proj._id
                        div.project-name
                            h1= proj.name
                        div.project-owner
                            p Project owner:
                            proj.owner.name
    div#disp-container
        div.board-control-panel
            div#menupoints
                div.control-panel-menupoint.not-active-cpanel-menu
                    a(href="/magori/calendar/demo") Naptár
                div.control-panel-menupoint.active-cpanel-menu
                    a(href="/magori") Tennivaló lista(ToDo)
                div.control-panel-menupoint.not-active-cpanel-menu
                    a Jegyzetek
                div.control-panel-menupoint.not-active-cpanel-menu
                    a Határidők
                div.control-panel-menupoint.not-active-cpanel-menu
                    a Autókönyv
                div.control-panel-menupoint.not-active-cpanel-menu
                    a Bevásárló lista
            div#custom-menupoints
                div.control-panel-custom-menupoint
                    a Ez egy könyvjelző
                div.control-panel-custom-menupoint
                    a Ez egy könyvjelző
        each board in boards
            div.board-container
                div.board-id= board._id
                div.project-id= board.project_id
                div.board-created-user
                    p Created user:
                    board.created_user.name
                div.board-name
                    h1= board.name
                    div.board-size-icon.board-dec-size-icon
                div.board-content.inc-board-content
                    each tag in statuses
                        each status in tag
                            if status.board_id.toString() === board._id.toString()
                                div.status-container
                                    div.status-id= status._id
                                    div.status-card-color
                                    div.status-name
                                        div.status-menu
                                            div.status-menu-icon
                                            div.status-menu-container.hide
                                                div.status-menupoint.add-card Add card
                                                div.status-menupoint.rename-status Rename status
                                                div.status-menupoint.delete-status Delete status
                                        h1= status.name
                                    div.cards-drop-zone
                                        each card_tag in cards
                                            each card in card_tag
                                                if card.status_id.toString() === status._id.toString()
                                                    div.card-container
                                                        div.card-id= card._id
                                                        div.card-menu
                                                            div.card-menu-icon
                                                            div.card-menu-container.hide
                                                                div.card-menupoint.rename-card Rename card
                                                                div.card-menupoint.delete-card Delete card
                                                        div.card-name= card.name
include static/includes/footer.pug
script(type="module" src='/static/js/project_management.js')