html
include static/includes/header
body
    div#container
        div#darker-background
            h1#igenyfelmeres_h1 Magori computers - SmartHome Igényfelmérő kalkulátor
            div#igenyfelmero-container
                div#igenyfelmeres-records-container
                    if igenyfelmeres_records
                        each if_record in igenyfelmeres_records
                            a.igenyfelmeres-record=if_record.name
                table
                    tr
                        th poz
                        th name
                        th location
                        th description
                        th function
                        th device
                        th brand
                        th piece
                        th price

                    each line in lines_for_active_ifmero
                        tr
                            td.ifl-id.hide= line._id
                            td 0
                            td.ifl-name= line.name
                            td.ifl-location-name
                                select(name = "location-options")

                                each location in locations
                                    if line.location.id == location.id
                                        option(value=location.id selected=true ) #{location.name}
                                    else
                                        option(value=location.id) #{location.name}

                            td.ifl-description= line.description
                            td.ifl-function-name= line.function.name
                            td.ifl-device-name= line.device.name
                            td.ifl-brand-name= line.brand.name
                            td.ifl-piece= line.piece
                            td.ifl-price= line.price




script(type="module" src='/static/js/igenyfelmero.js')
include static/includes/footer.pug