html
include static/includes/header
body
    div#container
        div#darker-background
            h1#igenyfelmeres_h1 Magori computers - SmartHome Igényfelmérő kalkulátor
            div#igenyfelmero-container
                div#igenyfelmeres-records-container
                    if igenyfelmeres_records
                        each if_record in igenyfelmeres_records
                            a.igenyfelmeres-record=if_record.name
                if active_igenyfelmero_record
                    a Van aktív igényfelmérő kiválasztva
                else
                    each value, key in igenyfelmeres_records[0]
                        ul
                            li= key
                            li= value
                    table
                        tr
                            each value, key in igenyfelmeres_records[0].line_records
                                th= key
                        tr
                            each value, key in igenyfelmeres_records[0].line_records
                                td= value


script(type="module" src='/static/js/igenyfelmero.js')
include static/includes/footer.pug