html
include static/includes/header
body
    div#container
        div#darker-background
            h1#igenyfelmeres_h1 Magori computers - SmartHome Igényfelmérő kalkulátor
            div#igenyfelmero-container
                div#igenyfelmeres-records-container
                    if igenyfelmeres_records
                        each if_record in igenyfelmeres_records
                            a.igenyfelmeres-record=if_record.name
                table
                    tr
                        th name
                        th location
                        th description
                        th function
                        th device
                        th brand
                        th piece
                        th price
                        th created_date
                    each line in lines_for_active_ifmero
                        tr
                            td= line.name
                            td= line.location
                            td= line.description
                            td= line.function
                            td= line.device
                            td= line.brand
                            td= line.piece
                            td= line.price
                            td= line.created_date



script(type="module" src='/static/js/igenyfelmero.js')
include static/includes/footer.pug